{% extends "users/base.html" %}
{% block content %}
  <div>
    <br>
    {% if not questions.all.exists %}
      <h2>No questions exist at this time...</h2>
    {% else %}
      {% for question in questions %}
        <article class="media content-section">
          <div class="stat-section">
            <div class="answer-stat stat">
              <div class="counter">
                <small class="text-muted">0</small>
              </div>
              <div class="counter-text">
                <small class="text-muted">Answers</small>
              </div>
            </div>
            <div class="comment-stat stat">
              <div class="counter">
                <small class="text-muted">0</small>
              </div>
              <div class="counter-text">
                <small class="text-muted">Comments</small>
              </div>
            </div>
            {% if user.is_superuser %}
              <div class="stat">
                <a href="{% url 'answer-create' %}" class="btn btn-outline-primary btn-block">Add<br>Answer</a>
              </div>
              <div class="stat">
                <a href="{% url 'question-delete' question.slug %}" class="btn btn-outline-danger btn-block">Delete<br>Question</a>
              </div>
            {% endif %}
          </div>
          <div class="question media-body">
            <!--URl here uses the slug field to redirect users to the detail page of a specific question-->
            <h2><a class="article-title" href="{% url 'question-detail' question.slug %}">Q: {{ question.title }}</a></h2>
            <p class="article-content">{{ question.description }}</p>
            <div class="float-right question-metadata">
              <div class="question-author">
                {% if question.user.is_superuser %}
                  <p>Asked by: {{ question.user }}</p>
                {% else %}
                  <p>Asked by: {{ question.user.first_name }} {{ question.user.last_name }}</p>
                {% endif %}
              </div>
              <div class="question-datetime">
                <small class="text-muted">{{ question.created_at }}</small>
              </div>
            </div>
          </div>
          {% for answer in question.answer.all %}
          <br>
          <div class="answer media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ answer.user }}</a>
              <small class="text-muted">{{ answer.created_at }}</small>
            </div>
            <p class="article-content">A: {{ answer.description }}</p>
          </div>
          {% endfor %}
        </article>
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
