{% extends "users/base.html" %}
{% block content %}    
  <article class="qna-styling media content-section">
    <div class="question media-body">
      <h2 class="article-title">Q: {{ object.title }}</h2>
      <p class="article-content">{{ object.description }}</p>
      <div class="float-right question-metadata">
        <div class="question-author">
          {% if object.user.is_superuser %}
            <p>Asked by: {{ object.user }}</p>
          {% else %}
            <p>Asked by: {{ object.user.first_name }} {{ object.user.last_name }}</p>
          {% endif %}
        </div>
        <div class="question-datetime">
          <small class="question-datetime text-muted">{{ object.created_at }}</small>
        </div>       
        {% if object.user == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'question-update' object.slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'question-delete' object.slug %}">Delete</a>
          </div>
        {% endif %}
      </div>
    </div>
    {% for answer in object.answer.all %}
        <br>
        <div class="answer media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ answer.user }}</a>
            <small class="text-muted">{{ answer.created_at }}</small>
          </div>
          <p class="article-content">A: {{ answer.description }}</p>
        </div>
      {% endfor %}
  </article>
{% endblock content %}
